/* Media Queries */
@media (max-width: 500px) {
  .modal-container {
    flex-direction: column-reverse;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
      0px 24px 38px 3px rgba(0, 0, 0, 0.14),
      0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }
  .form-info {
    height: 100px !important;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .form {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
@media (min-width: 500px) {
  .form {
    border-radius: 10px;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
      0px 24px 38px 3px rgba(0, 0, 0, 0.14),
      0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    z-index: 2;
  }
  .form-info {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
      0px 24px 38px 3px rgba(0, 0, 0, 0.14),
      0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }
}
